*.iml
.cxx
.DS_Store
.externalNativeBuild
.gradle
.idea
build
captures
local.properties

app/release_keystore.jks
app/keystore.properties
presentation/neocitiesWithoutPreload/
presentation/neocitiesWithPreload/
signing